{% extends 'layout.twig' %}

{% block content %}

    <div class="container-fluid">

        <div class="animated fadeIn">

            <div class="row flex-column-reverse flex-md-row">

                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="card">
                        <div id="pdf-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for i in range(0, document.pages-1) %}
                                    <li data-target="#pdf-carousel" data-slide-to="{{ i }}"{% if loop.first %} class="active"{% endif %}></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for i in range(0, document.pages-1) %}
                                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                                        <img class="d-block w-100" src="/thumbnail/{{ document.identifier }}/{{ i }}/300" alt="Page ">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#pdf-carousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Previous" %}</span>
                            </a>
                            <a class="carousel-control-next" href="#pdf-carousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">{% trans "Next" %}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-7 col-lg-6 col-md-6">

                    <div class="card">
                        <div class="card-header">
                            {% trans "Document Details" %}
                        </div>
                        <div class="card-body">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-email"><strong>{% trans "Subject" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.subject }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-password"><strong>{% trans "Company" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.company }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-password"><strong>{% trans "Tags" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.tags }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-password"><strong>{% trans "Recipient" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.recipient }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-password"><strong>{% trans "Price" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.price }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label" for="hf-password"><strong>{% trans "Date" %}</strong></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" value="{{ document.date }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 form-control-label"><strong>{% trans "Pages" %}</strong></div>
                                    <div class="col-md-9">{{ document.pages }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 form-control-label"><strong>{% trans "Size" %}</strong></div>
                                    <div class="col-md-9">{{ document.size }}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 form-control-label"><strong>{% trans "Hash" %}</strong></div>
                                    <div class="col-md-9">{{ document.hash }}</div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div><!-- /.row -->
        </div>

    </div>

{% endblock %}