{% extends 'layout.twig' %}

{% block content %}

<div class="container-fluid">

    <div class="animated fadeIn">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form action="/rules/archives/add" method="POST">
                        <div class="card-body">
                            <div class="row full-width">
                                <div class="col-md-2">
                                    <div class="pull-left full-width text-center">
                                        <input type="text" class="form-control" name="toFolder" id="toFolder">
                                        <label for="toFolder"><strong>{% trans "Target Folder" %}</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-left full-width text-center">
                                        <input type="text" class="form-control" name="company" id="company">
                                        <label for="company"><strong>{% trans "Company" %}</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-left full-width text-center">
                                        <input type="text" class="form-control" name="subject" id="subject">
                                        <label for="subject"><strong>{% trans "Subject" %}</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-left full-width text-center">
                                        <input type="text" class="form-control" name="recipient" id="recipient">
                                        <label for="recipient"><strong>{% trans "Recipient" %}</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="pull-left full-width text-center">
                                        <input type="text" class="form-control" name="tags" id="tags">
                                        <label for="tags"><strong>{% trans "Tags" %}</strong></label>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center">
                                    <label class="switch switch-default switch-info switch-xl">
                                        <input type="checkbox" class="switch-input" name="isActive" id="isActive" checked>
                                        <span class="switch-label"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    <br>
                                    <strong>{% trans "Status" %}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% if rules|length > 0 %}
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="thead-default">
                                <tr>
                                    <th>{% trans "Target Folder" %}</th>
                                    <th>{% trans "Company" %}</th>
                                    <th>{% trans "Subject" %}</th>
                                    <th>{% trans "Recipient" %}</th>
                                    <th>{% trans "Tags" %}</th>
                                    <th>{% trans "Status" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rule in rules %}
                                <tr class='clickable-row' data-url="/rules/archives/{{ rule.id }}">
                                    <td class="align-middle">{{ rule.toFolder }}</td>
                                    <td class="align-middle">{{ rule.company }}</td>
                                    <td class="align-middle">{{ rule.subject }}</td>
                                    <td class="align-middle">{{ rule.recipient }}</td>
                                    <td class="align-middle">{{ rule.tags }}</td>
                                    <td class="">
                                        <label class="switch switch-default switch-secondary">
                                            <input type="checkbox" class="switch-input"{% if rule.isActive == 1 %} checked{% endif %} disabled>
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </td>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="text-center full-width text-serif">
                                <em><h4>"{% trans "I love rules and I love following them, unless that rule is stupid." %}"</h4></em>
                                <sup>― Anna Kendrick, Scrappy Little Nobody</sup>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div>

</div>

{% endblock %}